html {
  background-color: black;
}

body {
  width: 80%;
  height: auto;
  background-color: blue;
  margin: 0 auto;
}

header {
  border: 4px ridge green;
  width: 60%;
  font-size: 40pt;
  margin: 10px auto 15px auto;
  text-align: center;
  background-color: lightblue;
}
#mainHeader {
  width: 65%;
  margin: 10px auto;
  text-align: center;
  font-size: 25pt;
}
#countdown {
  background-color: green;
  border: 2px ridge black;
  width: 50%;
  margin: 10px auto;
}
#random-container {
  width: 79%;
  margin: 0 auto;
}
body>main>section>section>img {
  width: 250px;
  height: 250px;
  margin: 10px 10px;
}
img {
  height: 300px;
  width: 25%;
  float: left;
  border: 4px solid black;
  margin: 10px;
}













